/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* Enigmail styles for the SeaMonkey Classic style*/

@import url("chrome://enigmail/skin/enigmail-common.css"); /* common styles for all platforms */
@import url("chrome://enigmail/skin/enigmail-pEp.css");    /* styles related to pEp for all platforms */


#button-enigmail-decrypt
  {
    list-style-image : url("chrome://enigmail/skin/decrypt-active-30.svg");
  }

#button-enigmail-decrypt[disabled]
  {
    list-style-image : url("chrome://enigmail/skin/decrypt-inactive-30.svg");
  }

toolbar[iconsize="small"] #button-enigmail-decrypt
  {
    list-style-image : url("chrome://enigmail/skin/decrypt-active-24.svg");
  }

toolbar[iconsize="small"] #button-enigmail-decrypt[disabled]
  {
    list-style-image : url("chrome://enigmail/skin/decrypt-inactive-24.svg");
  }


/***************************************************
 *  Icons for compose toolbar: encryption
 ***************************************************/

#button-enigmail-encrypt
{
  list-style-image : url("chrome://enigmail/skin/encrypt-inactive-30.svg");
}

#button-enigmail-encrypt[disabled] {
  list-style-image : url("chrome://enigmail/skin/encrypt-disabled-30.svg");
}

#button-enigmail-encrypt[encrypted="activeNone"]
{
  list-style-image : url("chrome://enigmail/skin/encrypt-active-30.svg");
}

#button-enigmail-encrypt[encrypted="forceYes"]
{
  list-style-image : url("chrome://enigmail/skin/encrypt-active-30.svg");
}

#button-enigmail-encrypt[encrypted="forceNo"]
{
  list-style-image : url("chrome://enigmail/skin/encrypt-inactive-30.svg");
}


toolbar[iconsize="small"] #button-enigmail-encrypt
{
  list-style-image : url("chrome://enigmail/skin/encrypt-inactive-24.svg");
}

toolbar[iconsize="small"] #button-enigmail-encrypt[disabled] {
  list-style-image : url("chrome://enigmail/skin/encrypt-disabled-24.svg");
}

toolbar[iconsize="small"] #button-enigmail-encrypt[encrypted="activeNone"]
{
  list-style-image : url("chrome://enigmail/skin/encrypt-active-24.svg");
}

toolbar[iconsize="small"] #button-enigmail-encrypt[encrypted="forceYes"]
{
  list-style-image : url("chrome://enigmail/skin/encrypt-active-24.svg");
}

toolbar[iconsize="small"] #button-enigmail-encrypt[encrypted="forceNo"]
{
  list-style-image : url("chrome://enigmail/skin/encrypt-inactive-24.svg");
}


/***************************************************
 *  Icons for compose toolbar: signing
 ***************************************************/

#button-enigmail-sign
{
  list-style-image : url("chrome://enigmail/skin/sign-inactive-30.svg");
}


#button-enigmail-sign[disabled] {
  list-style-image : url("chrome://enigmail/skin/sign-disabled-30.svg");
}

#button-enigmail-sign[signed="activeNone"]
{
  list-style-image : url("chrome://enigmail/skin/sign-active-30.svg");
}

#button-enigmail-sign[signed="forceYes"]
{
  list-style-image : url("chrome://enigmail/skin/sign-active-30.svg");
}

#button-enigmail-sign[signed="forceNo"]
{
  list-style-image : url("chrome://enigmail/skin/sign-inactive-30.svg");
}


toolbar[iconsize="small"] #button-enigmail-sign
{
  list-style-image : url("chrome://enigmail/skin/sign-inactive-24.svg");
}

toolbar[iconsize="small"] #button-enigmail-sign[disabled] {
  list-style-image : url("chrome://enigmail/skin/sign-disabled-24.svg");
}

toolbar[iconsize="small"] #button-enigmail-sign[signed="activeNone"]
{
  list-style-image : url("chrome://enigmail/skin/sign-active-24.svg");
}

toolbar[iconsize="small"] #button-enigmail-sign[signed="forceYes"]
{
  list-style-image : url("chrome://enigmail/skin/sign-active-24.svg");
}

toolbar[iconsize="small"] #button-enigmail-sign[signed="forceNo"]
{
  list-style-image : url("chrome://enigmail/skin/sign-inactive-24.svg");
}

/***************************************************
 *  Icons for compose toolbar: attach own key
 ***************************************************/

#button-enigmail-attach
{
  list-style-image : url("chrome://enigmail/skin/attach-inactive-30.svg");
}

#button-enigmail-attach[disabled] {
  list-style-image : url("chrome://enigmail/skin/attach-disabled-30.svg");
}

#button-enigmail-attach[addPubkey="true"]
{
  list-style-image : url("chrome://enigmail/skin/attach-active-30.svg");
}

toolbar[iconsize="small"] #button-enigmail-attach
{
  list-style-image : url("chrome://enigmail/skin/attach-inactive-24.svg");
}

toolbar[iconsize="small"] #button-enigmail-attach[disabled] {
  list-style-image : url("chrome://enigmail/skin/attach-disabled-24.svg");
}

toolbar[iconsize="small"] #button-enigmail-attach[addPubkey="true"]
{
  list-style-image : url("chrome://enigmail/skin/attach-active-24.svg");
}

/***************************************************
 *  Icons for compose toolbar: Protect header
 ***************************************************/

#enigmail-toolbar-encryptHdr-button
{
  list-style-image : url("chrome://enigmail/skin/headerUnprotected-30.svg");
}

#enigmail-toolbar-encryptHdr-button[disabled] {
  list-style-image : url("chrome://enigmail/skin/headerUnprotected-30.svg");
}

#enigmail-toolbar-encryptHdr-button[checked="true"]
{
  list-style-image : url("chrome://enigmail/skin/headerProtected-30.svg");
}

toolbar[iconsize="small"] #enigmail-toolbar-encryptHdr-button
{
  list-style-image : url("chrome://enigmail/skin/headerUnprotected-24.svg");
}

toolbar[iconsize="small"] #enigmail-toolbar-encryptHdr-button[disabled] {
  list-style-image : url("chrome://enigmail/skin/headerUnprotected-24.svg");
}

toolbar[iconsize="small"] #enigmail-toolbar-encryptHdr-button[checked="true"]
{
  list-style-image : url("chrome://enigmail/skin/headerProtected-24.svg");
}

/***************************************************
 *  Icons for messenger status bar
 ***************************************************/

#enigmail-status-bar #enigmail-signed-status {
  list-style-image: none;
  visibility: collapse;
}

#enigmail-status-bar[signed="ok"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignOk.png");
  visibility: visible;
}

#enigmail-status-bar[signed="notok"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignNotOk.png");
  visibility: visible;
}

#enigmail-status-bar[signed="unknown"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignUnkown.png");
  visibility: visible;
}

#enigmail-status-bar[signed="inactive"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignInactive.png");
  visibility: visible;
}

#enigmail-status-bar #enigmail-encrypted-status {
  list-style-image: none;
  visibility: collapse;
}

#enigmail-status-bar[encrypted="ok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncOk.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="notok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncNotOk.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="inactive"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncInactive.png");
  visibility: visible;
}


/***************************************************
 *  Icons for compose status bar: signed states
 ***************************************************/

#enigmail-status-bar[signed="forceYes"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignForceYes.png");
  visibility: visible;
}

#enigmail-status-bar[signed="forceNo"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignForceNo.png");
  visibility: visible;
}

#enigmail-status-bar[signed="inactiveNone"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignInactiveNone.png");
  visibility: visible;
}

#enigmail-status-bar[signed="inactivePlus"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignInactivePlus.png");
  visibility: visible;
}

#enigmail-status-bar[signed="inactiveMinus"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignInactiveMinus.png");
  visibility: visible;
}

#enigmail-status-bar[signed="inactiveConflict"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignInactiveConflict.png");
  visibility: visible;
}

#enigmail-status-bar[signed="activeNone"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignActiveNone.png");
  visibility: visible;
}

#enigmail-status-bar[signed="activePlus"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignActivePlus.png");
  visibility: visible;
}

#enigmail-status-bar[signed="activeMinus"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignActiveMinus.png");
  visibility: visible;
}

#enigmail-status-bar[signed="activeConflict"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignActiveConflict.png");
  visibility: visible;
}

/***************************************************
 *  Icons for compose status bar: encrypted states
 ***************************************************/

#enigmail-status-bar[encrypted="forceYes"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncForceYes.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="forceNo"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncForceNo.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="activeNone"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncActiveNone.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="activePlus"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncActivePlus.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="activeMinus"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncActiveMinus.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="activeConflict"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncActiveConflict.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="inactiveNone"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncInactiveNone.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="inactivePlus"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncInactivePlus.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="inactiveMinus"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncInactiveMinus.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="inactiveConflict"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncInactiveConflict.png");
  visibility: visible;
}
